.list {
    padding-top: 100px;
    padding-bottom: 130px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    &__item {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        &:nth-child(1) {
            .list__item-img {
                background-color: $mainGreen;
            }
        }
        &:nth-child(2) {
            .list__item-img {
                background-color: $mainBlue;
            }
        }
        &:nth-child(3) {
            .list__item-img {
                background-color: #ff45c4;
            }
        }
        &:nth-child(4) {
            .list__item-img {
                background-color: #ff9d46;
            }
        }
        &-symbol {
            margin: 0 auto;
            width: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
            border-radius: 100%;
            padding: 15px;
        }
        &-circle {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
            border-radius: 100%;
            padding: 15px;
        }
        &-img {
            width: 85px;
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
        }
        &-title {
            margin-top: 40px;
            color: #414040;
            font-size: 18px;
            font-weight: 700;
        }
        &-descr {
            margin-top: 22px;
            @include descr;
        }
    }
}